<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" href="{% static 'game_board/style.css' %}">


<div class="grid-container" style="display: grid; grid-template-columns: auto auto auto auto; justify-content: center; align-items: center; margin: 30px;">
    {% for playPos in play_positions %}
        <div class="grid-item">
            {% include "game_board/card_display.html" with card=playPos.card %}
            {{playPos.card.id}} <!-- For debugging right now!-->
        </div>
    {% endfor %}
</div>

hi!