<!-- 
    This template is used to display a card in the game board.
    It is used by the game_board.html template.

    Given a card Object, create a card display where the Card.points field indicates in binary which of 6 fixed colored circles is present
    if the ith character in Card.points is 1:
        i = 0: red circle in top left
        i = 1: blue circle in top right
        i = 2: green circle in middle left
        i = 3: yellow circle in middle right
        i = 4: purple circle in bottom left
        i = 5: orange circle in bottom right -->

{{card.id}} <!-- For debugging right now!-->
{{card.points}}
{{card.selected}}
<div style="display: flex; justify-content: center; align-items: center; ">
    <form action="{% url 'game_board:card_selected' card.id %}" method="post">
        {% csrf_token %}
        <button data-is-select="{{ card.selected }}" data-card-points="{{ card.points }}" data-card-id="{{card.id}}" class="card-display" type="submit" {%if card.selected %} style="box-shadow: 0 0 5px rgba(255, 0, 0, 0.3);" {% endif %}>
            <div class="circle red"></div>
            <div class="circle blue"></div>
            <div class="circle green"></div>
            <div class="circle yellow"></div>
            <div class="circle purple"></div>
            <div class="circle orange"></div>
        </button>
    </form>
</div>